<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--Tells config file to look for a section that is called log4net-->
		<section name ="log4net" type ="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<!--Create a section for log4net-->
	<log4net>

		<!--First Appender-->
		<appender name ="ConsoleAppender" type ="log4net.Appender.ConsoleAppender">
			<layout type ="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{Absolute} %level - %message%newline%exception" />
			</layout>
		</appender>


		<!--Second Appender-->
		<appender name="RollingFileAppender" type ="log4net.Appender.RollingFileAppender">
			<file value ="C:\Users\vermasha\source\repos\Task1b\RollingFileLog.txt" />
			<appendToFile value ="true"/>
			<rollingStyle value ="Size"/>
			<maximumFileSize value ="1KB"/>
			<maxSizeRollBackups value="5"/>
			<staticLogFileName value="true"/>

			<layout type ="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{Absolute} %level - %message%newline%exception" />
			</layout>

		</appender>
		
		<!--Third Appender : Log into event viewer (Works only when I run VS as admin)-->
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<applicationName value="LoanCalculator"/>
			<layout type ="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{Absolute} %level - %message%newline%exception" />
			</layout>
		</appender>


		<!--What appender to use and specify the level of messages to be loggedm in the root section-->
		<root>
			<level value="DEBUG" />
			

			<!--Referencing our appender-->
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="EventLogAppender"/>

		</root>

	</log4net>
	
	
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>